@charset "UTF-8";

.pigeon-ai .product-block{padding-top:100px;}
.pigeon-ai .product-block .ttl02{font-size:20px;}
/*.pigeon-ai .product-box{padding-right:500px; box-sizing:border-box; position:relative;}*/
.pigeon-ai .product-box{box-sizing:border-box; position:relative;}
.product-box:after {content: "";display: block;clear: both;}
.pigeon-ai .product-slider .bx-wrapper .bx-prev{background:url(../img/ICON_arrow_05_l.svg) no-repeat;}
.pigeon-ai .product-slider .bx-wrapper .bx-next{background:url(../img/ICON_arrow_05_r.svg) no-repeat;}
.pigeon-ai .product-slider .bx-wrapper .bx-controls-direction a{width:30px; height:30px; margin-top:-15px;}
.pigeon-ai .product-slider .product-pager{margin-top:30px;}
.pigeon-ai .product-slider .product-pager a{display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center; height:60px; width:60px; border:#e8e8e8 solid 1px; box-sizing:border-box; margin:0;}
.pigeon-ai .product-slider .product-pager a.active{border-color:#7bc9bc;}
.pigeon-ai .product-slider .product-pager img{width:100%; height:auto;}

/*.pigeon-ai .product-detail{position:absolute; right:0; top:0; width:460px; box-sizing:border-box;}*/
.pigeon-ai .product-detail{float: right; width:460px; box-sizing:border-box;min-height: 600px;}
.pigeon-ai .product-detail .product-info{overflow:hidden; margin-bottom:30px;}
.pigeon-ai .product-detail .product-info .ttl03{padding:11px 15px 11px 45px; position:relative; font-size:18px; font-weight:bold; background-color:#e5f4f2;}
.pigeon-ai .product-detail .product-info .ttl03:before{content:""; display:block; width:20px; height:20px; border:#7bc9bc solid 6px; border-radius:50%; box-sizing:border-box; position:absolute; left:15px; top:13px;}
.pigeon-ai .product-detail .product-info .product-info-inner{padding:0 20px; box-sizing:border-box;}
.pigeon-ai .product-detail .product-info .product-info-inner p{line-height:24px; padding:15px 0; border-bottom:#dcdcdc dashed 1px;}
.pigeon-ai .product-detail .product-info .product-info-inner p strong{font-weight:bold; font-size:18px;}
.pigeon-ai .product-detail .product-info .product-info-inner dl{padding:15px 0;}
.pigeon-ai .product-detail .product-info .product-info-inner dl dt{width:90px; font-weight:bold; line-height:24px;}
.pigeon-ai .product-detail .product-info .product-info-inner dl dd{width:calc(100% - 90px); line-height:24px;}
.pigeon-ai .product-detail .product-sub-info p{line-height:24px; margin-bottom:30px;}
.pigeon-ai .product-detail .product-sub-info dl{margin-bottom:30px;}
.pigeon-ai .product-detail .product-sub-info dt{line-height:24px;}
.pigeon-ai .product-detail .product-sub-info dd{line-height:24px;}
.pigeon-ai .product-detail .product-sub-info li{line-height:24px;}
.pigeon-ai .product-detail .product-sub-info img{max-width: 100%;}

/* temp */
.pigeon-ai .product-slider {width: 480px;float: left;}
/* //temp  */

.pigeon-ai .ttl04{font-weight:bold; padding:16px 15px; line-height:1; background-color:#e5f4f2; border-radius:10px 10px 0 0;}
.pigeon-ai .additional-info {width: 480px;float: left;}
/*.pigeon-ai .relation-item{margin-top:30px;}*/
.pigeon-ai .relation-item{margin-top:30px; width: 480px;margin-bottom: 30px;}
.pigeon-ai .relation-item .ttl04{border:#e8e8e8 solid 1px;}
.pigeon-ai .relation-item .relation-item-list li{width:158px; box-sizing:border-box; border:#e8e8e8 solid 1px; background-color:#f5f5f5; margin:4px 3px 0 0;}
.pigeon-ai .relation-item .relation-item-list li:nth-child(3n){margin-right:0;}
.pigeon-ai .relation-item .relation-item-list li a{display:block;}
.pigeon-ai .relation-item .relation-item-list li .item-img{text-align:center; background-color:#fff; box-sizing:border-box;width: 150px;margin: 2px auto;}
.pigeon-ai .relation-item .relation-item-list li .item-img img{width: 100%;}
.pigeon-ai .relation-item .relation-item-list li .item-name{padding:15px; font-size:12px; line-height:21px; color:#444;}

/*.pigeon-ai .category-item{border:#e8e8e8 solid 1px; border-radius:10px; overflow:hidden; margin-top:25px;}*/
.pigeon-ai .category-item{width: 480px; border:#e8e8e8 solid 1px; border-radius:10px; overflow:hidden; margin-top:25px; margin-bottom: 20px;}
.pigeon-ai .category-item .category-item-list li a{display:block; line-height:20px; padding:13px 20px 13px 15px; box-sizing:border-box; border-bottom:#e8e8e8 dashed 1px; color:#444; position:relative;}
.pigeon-ai .category-item .category-item-list li:last-child a{border-bottom:none;}
.pigeon-ai .category-item .category-item-list li a img{position:absolute; right:15px; top:50%; margin-top:-4px; -webkit-transform:rotateY(-50%); transform:rotateY(-50%);}

.pigeon-ai .product-faq{padding-top:50px;clear: both;}
.ttl02-outer{position:relative;}
.ttl02-outer .arrow-link02{position:absolute; right:5px; top:3px;}
.pigeon-ai .product-faq .product-faq-list li{margin-bottom:5px;}
.pigeon-ai .product-faq .product-faq-list li:last-child{margin-bottom:0;}
.pigeon-ai .product-faq .product-faq-list li a{display:block; position:relative; padding:9px 30px 9px 50px; box-sizing:border-box; line-height:20px; background-color:#f5f5f5;}
.pigeon-ai .product-faq .product-faq-list li a .q{position:absolute; left:18px; top:50%; top:9px; font-size:20px; color:#7bc9bc; font-style:normal;}
.pigeon-ai .product-faq .product-faq-list li a .link-arrow{position:absolute; right:20px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}





@media screen and (max-width:768px){


.pigeon-ai .product-block{padding:100px 0 0;}
.pigeon-ai .product-block .ttl02{font-size:14px; width:calc(100% - 20px); margin-left:10px;}
.pigeon-ai .product-box{padding-right:0;}
.pigeon-ai .product-slider{padding:0 10px; width: auto;float: none;}
.pigeon-ai .product-slider li img{margin:0 auto;}
.pigeon-ai .product-slider .bx-wrapper .bx-prev{background:url(../img/ICON_arrow_04_l.svg) no-repeat;}
.pigeon-ai .product-slider .bx-wrapper .bx-next{background:url(../img/ICON_arrow_04_r.svg) no-repeat;}
.pigeon-ai .product-slider .bx-wrapper .bx-controls-direction a{width:17px; height:31px; margin-top:10px; top:100%; background-position:center center; background-size:100% auto;}
.pigeon-ai .product-slider .product-pager{margin-top:20px; -webkit-justify-content:center; justify-content:center;}
.pigeon-ai .product-slider .product-pager a{display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center; width:12px; height:12px; margin:0 4px; background-color:#e8e8e8; border:none; border-radius:50%;}
.pigeon-ai .product-slider .product-pager a.active{background-color:#7bc9bc;}
.pigeon-ai .product-slider .product-pager img{display:none;}

.pigeon-ai .product-detail{position:static; width:100%; margin-top:35px;float: none;min-height: auto;}
.pigeon-ai .product-detail .product-info{margin-bottom:30px; border:none; border-radius:0;}
.pigeon-ai .product-detail .product-info .ttl03{padding:7px 10px 7px 33px; position:relative; font-size:13px; line-height:25px; border:#e8e8e8 solid 1px; box-sizing:border-box;}
.pigeon-ai .product-detail .product-info .ttl03:before{width:15px; height:15px; border:#7bc9bc solid 3px; left:10px; top:10px;}
.pigeon-ai .product-detail .product-info .product-info-inner{padding:0 10px;}
.pigeon-ai .product-detail .product-info .product-info-inner p{line-height:21px;}
.pigeon-ai .product-detail .product-info .product-info-inner p strong{font-size:14px;}
.pigeon-ai .product-detail .product-info .product-info-inner dl dt{width:75px; line-height:21px;}
.pigeon-ai .product-detail .product-info .product-info-inner dl dd{width:calc(100% - 75px); line-height:21px;}
.pigeon-ai .product-detail .product-sub-info{padding:0 10px;}
.pigeon-ai .product-detail .product-sub-info p{line-height:21px; margin-bottom:20px;}
.pigeon-ai .product-detail .product-sub-info dl{margin-bottom:20px;}
.pigeon-ai .product-detail .product-sub-info dt{line-height:21px;}
.pigeon-ai .product-detail .product-sub-info dd{line-height:21px;}
.pigeon-ai .product-detail .product-sub-info li{line-height:21px;}

.pigeon-ai .ttl04{padding:10px 10px 8px; border-radius:0; border:#e8e8e8 solid 1px; box-sizing:border-box;}
.pigeon-ai .additional-info {width: auto; float: none;}
.pigeon-ai .relation-item{margin-top:30px; width: auto;float: none;}
.pigeon-ai .relation-item .relation-item-list{padding:0 10px; box-sizing:border-box; margin-top:10px;}
.pigeon-ai .relation-item .relation-item-list li{width:49%; margin:4px 0 0 0;}
.pigeon-ai .relation-item .relation-item-list li:nth-child(2n){margin-left:auto;}
.pigeon-ai .relation-item .relation-item-list li .item-img{width: auto;margin:0;}
.pigeon-ai .relation-item .relation-item-list li .item-img img{display:block; max-width:100%; margin:0 auto;}
.pigeon-ai .relation-item .relation-item-list li .item-name{padding:10px 15px; font-size:10px; line-height:17px;}

.pigeon-ai .category-item{border:none; border-radius:0; margin-top:30px; width: auto;}
.pigeon-ai .category-item .category-item-list{padding:0 10px; box-sizing:border-box;}
.pigeon-ai .category-item .category-item-list li a{line-height:19px; padding:9px 15px 9px 0;}
.pigeon-ai .category-item .category-item-list li:last-child a{border-bottom:#e8e8e8 dashed 1px;}
.pigeon-ai .category-item .category-item-list li a img{margin-top:-4px; right:3px;}

.pigeon-ai .product-faq{padding-top:35px;}
.ttl02-outer{text-align:right;}
.ttl02-outer .ttl02{text-align:left; margin-bottom:10px;}
.ttl02-outer .arrow-link02{position:relative; right:auto; top:auto;}
.pigeon-ai .product-faq .product-faq-list{margin-top:10px;}
.pigeon-ai .product-faq .product-faq-list li a{padding:7px 15px 7px 26px; line-height:20px;}
.pigeon-ai .product-faq .product-faq-list li a .q{left:10px; top:9px; font-size:15px;}
.pigeon-ai .product-faq .product-faq-list li a .link-arrow{right:10px;}

/* temp */
.pigeon-ai .product-slider {width: auto;float: none;}

}
/* movie */
.pigeon-ai .icon-play {
    position: relative;
    display:block;
    border: 1px solid #ccc;
}
.pigeon-ai .icon-play::before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../img/icon-play.png) no-repeat;
    background-size: 44px auto;
}
table.pgaiitem-table{
    overflow: hidden;
    width: 90%;
    text-align: center;
    margin: 5px auto 0
}
table.pgaiitem-table th,table.pgaiitem-table td {
    border: solid 1px #dcdcdc;
}
table.pgaiitem-table th{
ã€€padding: 12px 5px;
    border-bottom: solid 1px #dcdcdc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(220, 220, 220);
    text-align: inherit;
    background-color: #e4f4f1;
}
table.pgaiitem-table td{
    padding: 3px 0px;
    text-align: inherit;
}
@media screen and (max-width:768px){
table.pgaiitem-table td {
	background-color: #ffffff;
}
}