ErrorDocument 404 /404/index.php 
Redirect 301 /sobre/corporativa/origin/ https://pigeonlatam.com/sobre/corporativa/origen/
# BEGIN  
    <IfModule mod_rewrite.c>
    ErrorDocument 404 /404/index.php 
    RewriteEngine On
    RewriteBase / 
    RewriteCond %{HTTP_HOST} ^www\.pigeonlatam\.com$
    RewriteRule ^/?$ "http\:\/\/pigeonlatam\.com\/" [R=301,L]
    </IfModule>
# END  

