.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-50 {
  margin-bottom: 13rem;
}
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-\[3\.5rem\] {
  margin-top: 3.5rem;
}
.mt-\[4rem\] {
  margin-top: 4rem;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.list-item {
  display: list-item;
}
.hidden {
  display: none;
}
.h-20 {
  height: 20px;
}
.w-full {
  width: 100%;
}
.w-46 {
  width: 11.563rem;
}
.max-w-lg {
  max-width: 962px;
}
.max-w-tl-lg {
  max-width: 1130px;
}
.max-w-tl-md {
  max-width: 963px;
}
.max-w-\[1048px\] {
  max-width: 1048px;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.place-items-center {
  place-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-9 {
  gap: 2.2rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-14 {
  padding-top: 14px;
}
.pt-\[8px\] {
  padding-top: 8px;
}
.pb-\[5rem\] {
  padding-bottom: 5rem;
}
.pt-0 {
  padding-top: 0;
}
.pt-8 {
  padding-top: 2rem;
}
.pt-\[22px\] {
  padding-top: 22px;
}
.pb-30 {
  padding-bottom: 30px;
}
.text-center {
  text-align: center;
}
.tl-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 14px;
}
@media (min-width: 400px) {
  .tl-countries {
    font-size: 15px;
  }
}
@media (min-width: 640px) {
  .tl-countries {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .tl-countries {
    font-size: 18px;
  }
}
@media (min-width: 640px) {
  .tl-countries {
    justify-content: center;
  }
}
.tl-countries li a {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #4d4d4d;
}
.tl-countries-active {
  color: #db5550 !important;
}
.tl-info {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media (min-width: 640px) {
  .tl-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 320px) {
  .tl-info {
    display: flex;
  }
  .tl-info {
    display: flex;
  }
  .tl-info {
    flex-wrap: wrap;
  }
  .tl-info > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }
}
.tl-socialmedia {
  margin-left: 0.25rem;
  display: flex;
}
.tl-socialmedia > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
@media (min-width: 400px) {
  .tl-socialmedia > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
  }
}
@media (min-width: 640px) {
  .tl-socialmedia > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.6rem * var(--tw-space-x-reverse));
    margin-left: calc(2.6rem * calc(1 - var(--tw-space-x-reverse)));
  }
}
.tl-socialmedia-wrap {
  margin-right: 1.87rem;
  display: flex;
  height: 100%;
  width: 100px;
  flex-wrap: nowrap;
  align-items: center;
}
@media (min-width: 400px) {
  .tl-socialmedia-wrap {
    width: 120px;
  }
}
@media (min-width: 640px) {
  .tl-socialmedia-wrap {
    width: 176.59px;
  }
}
.tl-socialmedia li a img {
  width: 35px;
}
@media (min-width: 400px) {
  .tl-socialmedia li a img {
    width: 40px;
  }
}
@media (min-width: 640px) {
  .tl-socialmedia li a img {
    width: 45px;
  }
}
@media (min-width: 768px) {
  .tl-socialmedia li a img {
    width: 50px;
  }
}
.tl-contact {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.8;
}
@media (min-width: 400px) {
  .tl-contact {
    font-size: 15px;
  }
}
@media (min-width: 640px) {
  .tl-contact {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .tl-contact {
    font-size: 18px;
  }
}
.tl-contact th {
  width: 18px;
  padding-right: 2rem;
  vertical-align: top;
  --tw-text-opacity: 1;
  color: rgba(77, 77, 77, var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .tl-contact th {
    width: 144px;
  }
}
@media (max-width: 640px) {
  .tl-contact {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .tl-contact {
    font-size: 11px;
  }
}
.tl-stories {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 14px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(77, 77, 77, var(--tw-text-opacity));
}
@media (min-width: 400px) {
  .tl-stories {
    font-size: 15px;
  }
}
@media (min-width: 640px) {
  .tl-stories {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .tl-stories {
    font-size: 18px;
  }
}
@media (min-width: 640px) {
  .tl-stories {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.tl-stories-wrap {
  border-top: 2px solid #db5550;
}
.tl-stories li {
  line-height: 1.8;
}
.tl-stories li span {
  margin-bottom: 0.5rem;
  display: inline-flex;
  color: #db5550;
}
.tl-stories li p {
  padding-top: 1.87rem;
  padding-bottom: 1rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.marcas h3 {
  margin-bottom: 0.75rem;
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: rgba(230, 85, 80, var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .marcas h3 {
    font-size: 26.8994px;
  }
}
.marcas-grid a img {
  width: 100%;
  max-width: 173px;
}
@media (min-width: 640px) {
  .sm\:mt-25 {
    margin-top: 4.8rem;
  }
  .sm\:mt-\[5rem\] {
    margin-top: 5rem;
  }
  .sm\:w-57 {
    width: 15rem;
  }
  .sm\:w-auto {
    width: auto;
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .sm\:gap-6 {
    gap: 1.5rem;
  }
  .sm\:gap-9 {
    gap: 2.2rem;
  }
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:w-60 {
    width: 18rem;
  }
  .md\:w-\[225px\] {
    width: 225px;
  }
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .md\:gap-9 {
    gap: 2.2rem;
  }
}
@media (min-width: 1024px) {
  .lg\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 360px) {
  .maxs\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
@media (max-width: 640px) {
  .maxsm\:max-w-\[100px\] {
    max-width: 100px;
  }
  .maxsm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 768px) {
  .maxmd\:place-items-center {
    place-items: center;
  }
}
